<div class=signup>
    <div class="card">
        <section class="ftco-section">
            <div class="container">
                <div >
                    <div>
                        <div class="login-wrap">
                            <h3 class="text">Sign Up</h3>
                            <!-- <form action="" class="signup-form"> -->
                                <div class="form">
                                    <input type="text" id="name" class="form-control" placeholder="username">
                                </div>
                                <div class="form">
                                    <input id="password-field" type="password" class="form-control"
                                        placeholder="password">
                                    <span toggle="#password-field"></span>
                                </div>
                                <div class="form">
                                    <input id="confirm-password-field" type="password" class="form-control"
                                        placeholder="confirm">
                                    <span toggle="#password-field" ></span>
                                </div>
                                <div class="form">
                                    <input type="text" id="email" class="form-control" placeholder="johndoe@gmail.com">
                                </div>
                                <div class="form">
                                    <input type="text" id="dob" class="form-control" placeholder="date of birth">
                                </div>
                                <div class="btn-div">
                                    <button (click)="submit()" class="signup-button">Continue</button>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
