<div class="main-container" *ngIf="data$ | async as repo; else loading">
  <h1>{{ repo.name }}</h1>
  <nav mat-tab-nav-bar [tabPanel]="panel">
    <a mat-tab-link *ngFor="let tab of tabs" 
      (click)="active = tab" 
      [active]="active == tab"
      [routerLink]="tab.path">
      <mat-icon class="example-tab-icon">{{ tab.icon }}</mat-icon>
      {{ tab.name }}
    </a>
  </nav>
  <mat-tab-nav-panel #panel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
<ng-template #loading>
  <h1>Loading...</h1>
</ng-template>
